@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap");
:root {

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Actor", sans-serif !important;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-Raleway;
  }

  h1 {
    @apply h4 md:h1 font-bold ;
  }
  h2 {
    @apply h5 md:h2 font-bold;
  }
  h3 {
    @apply h6 md:h3 font-semibold;
  }
  h4 {
    @apply h4;
  }
  h5 {
    @apply h5;
  }
  h6 {
    @apply h6;
  }

  p {
    @apply cursor-default;
  }
}

/* typography */
@layer components {
  .h1 {
    @apply cursor-default text-[52px] font-bold leading-[61px] text-[#FFFFFF];
  }
  .h2 {
    @apply cursor-default text-[48px] font-bold leading-[56px];
  }
  .h3 {
    @apply cursor-default  text-[36px] font-semibold leading-[42px];
  }
  .h4 {
    @apply cursor-default  text-[32px] font-semibold leading-[38px];
  }
  .h5 {
    @apply cursor-default  text-[28px] font-medium leading-[32px];
  }
  .h6 {
    @apply cursor-default  text-[24px] font-medium leading-[28px];
  }
  .subtitle1 {
    @apply text-[18px] font-medium leading-[21px];
  }
  .subtitle2 {
    @apply text-[18px] font-bold leading-[21px];
  }
  .body1 {
    @apply text-[16px] font-medium leading-[19px];
  }
  .body2 {
    @apply text-[14px] font-medium leading-[16px];
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
